.sub-wrapper{
    margin-top: 40vh;
    padding: 2vh 5% 2vh 5%;
    margin-bottom: 10vh;
}

.sub-wrapper > h1 {
    font-size: 2.5rem;
    color: #2C3D55;
}

.eventnews-type{
    margin-top: 5vh;
}

.eventnews-type > h3 {
    width:fit-content;
    color: #2C3D55;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #7fb7be5d;
    text-decoration-thickness: 5px;

}

.sub-wrapper p {
    line-height: 200%;
}

.sub-wrapper p>em {
    color: #9C3848;
}

.sub-wrapper p>b {
    color: #2C3D55;
}

.links-wrapper{
    height: 15vh;
    margin: 5vh 10vh 0 0;
    float: left;
}

.links-wrapper img{
    position: relative;
    height: 100%;
}

.member {
    float: left;
    height: 30vh;
    width: 70vh;
    margin: 5vh 10vh 5vh 0;
}

.member-img{
    position: relative;
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 3%;
}

.member-img img{
    position: relative;
    height: 100%;
}

.member-info{
    height: 100%;
    overflow: hidden;
}
.member-info h3 {
    margin: 0 0 1vh 0;
    color: #7FB7BE;
}
.member-info h4 {
    font-size: 1.2rem;
    margin: 1vh 0 1vh 0;
}

.event-wrapper {
    margin: 40vh 0vh 3vh 0vh;
    padding: 5%;
    display: flex;
    flex-direction: row;
}
.event-info-wrapper {
    position: relative;
    width: 55%;
    margin-right: 5%;
}
.event-img-wrapper {
    float: right;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.event-img-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.event-date {
    margin: 0;
    color: #7FB7BE;
    font-size: 1rem;
}

.event-title {
    margin: 0;
    color: #2C3D55;
    font-size: 1.2rem;
}

.event-wrapper p {
    font-size: .8rem;
    line-height: 150%;
}

.event-wrapper a {
    color: #7FB7BE;
    font-weight: 600;
}

.eventnews {
    margin-top: .5vh;
    margin-bottom: 1vh;
}

.eventnews-date {
    color: #7FB7BE;
    margin-right: 1%;
}

.eventnews-title {
    color: #2C3D55;
}

.eventnews:hover .eventnews-title{
    text-decoration: underline;
    color: #7FB7BE;
}