#top {
    position: absolute;
    top: 0;
    height: 40vh;
    background-image: url(./img/bg.jpeg);
    background-size: cover;
    background-position-y: center;
}

#top-logos {
    overflow: hidden;
    height: 5vh;
    background-color: #1c2531;
}

#top-logos img {
    position: relative;
    height: 80%;
    margin: .5vh 0 1vh 1%;
    float: left;
    opacity: .7;
    
}


#Nav{
    display: inline-block;
    width: 100vw;
    height: 25vh;
    padding: 12vh 2vw 2vh 2vw ;
    
}

#Nav img{
    position: relative;
    float: left;
    height: 100%;
}

#Nav h1{
    color: #e4fffb;
    margin-left: 3vw;
    filter: drop-shadow(0px 0px 3px #141f2e);
}

#link-wrapper{
    height: 12vh;
    position: relative;
    padding: 1vh 0 0 0;
}

.link{
    position: relative;
    cursor: pointer;
    width: 22vw;
    padding: 0 1vw 0 1vw;
    display: inline-block;
    text-align: center;
    color: white;
}
.link a{
    text-decoration: none;
    margin-top: 0;
}
.link:hover {
    transform: scale(1.05);
}

.link-active:after{
    position: relative;
    margin: auto;
    bottom:0;
    height:2px;
    width:0%;
    background-color:#444;
    display:block;
    content:'';
    animation: expand 0.35s forwards;
}

.back{
    padding-top: 1vh;
    border: none;
    background: none;
    margin-bottom: 2vh;
    color: #858585;
}
.back:hover{
    color: #464646;
}
@keyframes expand{
    from{width: 0;}
    to{width: 100%;}
}

@media (max-width: 640px){
    #link-wrapper{
        height: 12vh;
    }
}

@media (max-height: 580px){
  #link-wrapper{
    height: 22vh;
  }
}